<ion-header>
  <ion-toolbar>
    <ion-title>
      Mo CSE - Time Table
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO3FTj7It1-xknpoITWQ5rOCAddMG_BN4mFzbYKz7L6-f5eZqO&s"
      alt="">
  </ion-card>

  <ion-slides mode="md" pager="md" [options]="mySlideOptions">

    <ion-slide>
      <ion-card>
        <img src="https://i.pinimg.com/originals/1f/96/6e/1f966e357f6cf15b2783b5b2ff7e7087.png" alt="">
        <ion-card-header>
          Enjoy Your Day
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIP-Mo4BW8ENwgGUv-En3aq33hOjyVwNGZZGyozxJeNYGOAPBQ&s"
          alt="">
        <ion-card-header>
          9.00 - 11.30 : OS LAB<br>
          2.30 - 3.20 : GT <br>
          3.20 - 4.10 : MPMC <br>
          4.10 - 5.00 : SE <br>
          11.30 - 12.20 : DAA<br>
          12.20 - 1.10 : OB<br>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMMbvkx6rCMnjPwLWQq-S6D26sD2lT9DFFBStQuF-QEuPfWpTkWA&s"
          alt="">
        <ion-card-header>
          9.00 - 9.50 : OB<br>
          9.50 - 10.20 : DMS <br>
          10.20 - 11.30 : DAA <br>
          11.30 - 2.00 : DMS LAB <br>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img
          src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555356626/shape/mentalfloss/wednesday-spelling.gif?itok=UpWWnMbC"
          alt="">
        <ion-card-header>
          9.00 - 9.50 : OB<br>
          9.50 - 10.20 : COA <br>
          10.20 - 11.30 : COA <br>
          2.30 - 3.20 : DAA <br>
          3.20 - 4.10 : DMS <br>
          4.10 - 5.00 : DMS <br>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMLGIkPBNXFSeFo6zSAevyN8ijuG7kaLjCd_KnDWDzu9Yps7pdAg&s"
          alt="">
        <ion-card-header>
          9.00 - 9.50 : DAA <br>
          9.50 - 10.20 : TOC <br>
          10.20 - 11.30 : COA <br>
          2.30 - 5.00 : DAA LAB <br>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_tL2Mxo-lUn8R9RWcgCnF10ROuaCjP6L6jNnRbVkBXDqMH6vL8g&s"
          alt="">
        <ion-card-header>
          9.00 - 11.30 : TOC LAB<br>
          11.30 - 12.20 : DMS<br>
          12.20 - 1.10 : COA<br>
          1.10 - 2.00 : TOC <br>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUlHykZ1tFvngSm-sfVzUKiF-hmwgWBjiLWNkaZO6xX7cWxeJdrw&s"
          alt="">
        <ion-card-header>
          11.30 - 12.20 : OB<br>
          12.20 - 1.10 : TOC<br>
          1.10 - 2.00 : TOC <br>
        </ion-card-header>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>