<ion-header>
  <ion-toolbar>
    <ion-title>
      Mo CSE - Syllabus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="head">
  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt-HeUlfAQMsD8B48fzBPecW0jwruxaB8i9AZw9sgxJavYFddq&s" alt="">
  </ion-card>
  </div>
  

  <ion-slides mode="md" pager="md">
    <ion-slide>
     <ion-card>
       <ion-card-header>
         <ion-card-title>DAA</ion-card-title>
         <ion-card-subtitle>DESIGN AND ANALYSIS OF ALGORITHMS </ion-card-subtitle>
       </ion-card-header>
       <ion-card-content>
        MODULE – I <br>
        Introduction to Design and analysis of algorithms, Growth of Functions ( Asymptotic notations),
        Recurrences, Solution of Recurrences by substitution, Recursion tree method, Master Method, Analysis
        of Searching and Sorting Techniques: Brute Force Technique, Divide and Conquer Algorithms,
        Decrease and Conquer, Heaps and Heap sort, Lower Bounds for Sorting. <br>
        MODULE -II <br>
        Dynamic Programming algorithms: Matrix Chain Multiplication, Elements of Dynamic Programming,
        Longest Common Subsequence, Greedy Algorithms: Activity Selection Problem, Elements of Greedy
        Strategy, Fractional Knapsack Problem, Huffman Codes, Data Structure for Disjoint Sets, Disjoint Set
        Operations, Linked list Representation, Graph Algorithm - BFS and DFS, Minimum Spanning Trees,
        Kruskal algorithm, Prim's Algorithm, Single Source Shortest paths, Bellmen Ford Algorithm, Dijkstra's
        Algorithm. <br>
        MODULE -III <br>
        Polynomial Evaluation and Interpolation, Fast Fourier Transform, Strassen’s Matrix multiplication,
        String matching, Convolution, Rabin-Karp Algorithm, KMP Algorithms, Boyer- Moore Algorithm,
        Computational Geometry: Properties of Line segments, Convex Hull <br>
        MODULE -IV <br>
        NP-Completeness, Polynomial time verification, Reducibility, Proof of NP-Completeness (NCDP,
        CDP, CNDP, Hamiltonian cycle), Approximation Algorithms, Traveling Salesman Problem <br>
       </ion-card-content>
     </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>DBMS</ion-card-title>
          <ion-card-subtitle>DATABASE MANAGEMENT SYSTEMS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module – I <br>
          Database System Architecture–Introduction to Database Systems, Data Abstraction, Data
          Independence, Three-Schema Architecture, Data Definitionsand Data Manipulation Languages.
          Data Models -Hierarchical, Network, Relational Model and Object Oriented Data models, Entity-
          Relationship (E-R) Model, Mapping E-R Model to Relational Model. <br>
          Module – II <br>
          Relation Query Languages:Relational Algebra, SQL, Integrity Constraints, Tuple and Domain
          Relational Calculusand QBE.
          Relational Database Design: Functional dependencies, Armstrong’s Axioms,Dependency Preservation,
          Lossless design, Normal Forms: 1NF, 2NF, 3NF, BCNF, 4NF, 5NF. <br>
          Module – III <br>
          Query processing and Optimization: Evaluation of Relational Algebra Expression, QueryEquivalence,
          Join strategies, Query optimization Algorithms.
          Transaction Processing:Transaction concept, Transaction state, Concurrent executions, Serializability.
          Concurrency Control and Recovery: Concurrency control, Locking and Time-stampbased schedules,
          Multi-version and Optimistic Concurrency control schemes, Recovery System. <br>
          Module – IV <br>
          Advanced Topics: (Introduction to concepts only)Object- Oriented and object Relational databases,
          Temporal Data Base, Spatial Data Base, Logical Database,Web databases, Distributed Databases, Data
          Mining and Warehousing, Semantic Web and Ontology. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>TOC</ion-card-title>
          <ion-card-subtitle>THEORY OF COMPUTATION</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module I: Fundamentals& Finite Automata: <br>
          Alphabet,Strings, Language, Operations, Mathematical proving techniques, Finite state machine,
          definitions, finite automaton model, acceptance of strings, and languages, Deterministic Finite
          Automaton (DFA) and Non deterministic Finite Automaton (NFA), transition diagrams and Language
          recognizers.Equivalence of DFA and NFA, NFA to DFA conversion,NFA with e - transitions -
          Significance, acceptance of languages. Equivalence between NFA with and without e - transitions,
          minimisation of FSM, Finite Automata with output- Moore and Mealy machines and conversion of
          Mealy to Moore and vice-versa. <br>
          Module II: Regular Expression and Languages: <br>
          Regular sets, regular expressions, identity rules, Constructing finite Automata for a given regular
          expressions, Conversion of Finite Automata to Regular expressions. Regular grammars-right linear and
          left linear grammars, conversion of right linear grammar to left linear and vice-versa, equivalence
          between regular grammar, regular expression and FA, Pumping lemma of regular sets, closure properties
          of regular sets. <br>
          Module III: Context Free Grammars and Push Down Automata: <br>
          Context free grammar, derivation trees, sentential forms. Right most and leftmost derivation of
          strings.Ambiguity in context free grammars. Reduction of Context Free Grammars. Chomsky normal
          form, Greiback normal form, Pumping Lemma for Context Free Languages. Enumeration of properties
          of CFL.Push down automata, definition, model, acceptance of CFL, Acceptance by final state and
          acceptance by empty state and its equivalence. Equivalence of CFG and PDA, interconversion.
          Introduction to DCFL and DPDA. DPDA Vs NPDA. <br>
          Module IV: Turing Machine and its Computational Complexity: <br>
          Chomsky hierarchy of languages, Context sensitive language, Context sensitive grammar,Turing
          Machine, definition, model, design of TM, Variants of TM, linear bounded automata,Computable
          functions, recursively enumerable languages. Church’s hypothesis. Decidable, Undecidable and
          reducible problems, Efficiency of computation, Turing Machine and complexity, Language family and
          complexity classes, the complexity classes P and NP. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>COA</ion-card-title>
          <ion-card-subtitle>COMPUTER ORGANIZATION AND ARCHITECTURE</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module-I <br>
Introduction:
Basic Organization of Computers, Classification Micro, Mini, Mainframe and Super Computer. System
Bus and Interconnection: Single and multi-bus, Computer FunctionVon-Neumann M/c: Structure of
IAS.
Computer Arithmatic:
Data Representation:Fixed Point Representation,Floating Point Representation. Addition and
Substraction, Multiplication (Booth Algorithm), Division Algorithm, Floating Point Arithmatic
Operation, Decimal Arithmatic Operation. <br>
Module-II <br>
Instruction Set Architecture:
Instruction Format: Three Address, Two Address, One Address and Zero Address Instruction,
Addressing Modes: Types of Addressing modes, Numerical Examples, Program Relocation,
Compaction, Data Transfer & Manipulation: Data transfer, Data Manipulation, Arithmetic, Logical &
Bit Manipulation Instruction, Program Control: Conditional Branch Instruction,
CPU Organization:
Fundamental Concepts: Instruction-cycle, Fetching and storing a word in Memory, Register Transfer,
Performing an Arithmetic & Logic Operation, Branching. Control word, Stack Organisation, Register
Stack, Memory Stack, RPN, Ecaluation of Arithmetic Expression using RPN, Subroutine,Control Unit
Operation: Hardware Control & Micro Programmed Control. <br>
Module-III <br>
Memory Organization:
Computers Memory System Overview, Characteristics of Memory System, The Memory Hierarchy,
Semi Conductor Main Memory types, Organisation, Memory cell Operation. Cache Memory: Cache
Principles, Elements of Cache Design, Cache Size, Cache Mapping function, Replacement Algorithm,
LRU, FIFO, LFU, Write policy. Number of Caches: Single versus two level caches, Pentium Cache
Organisation. Associative Memory: Hardware Organisation, Match Logic. Read Operation, Write
Operation, Auxiliary Memory: Magnetic Disks, Magnetic Tape. Virtual Memory: Paging, Paging h/w,
Address Mapping using pages, Segmentation h/w, Demand Paging, Memory Management h/w. <br>
Module-IV <br>
Input/Output Organization: <br>
Peripheral Devices, Input – output Interface, I/O Bus, Interface Module, Asynchronous Data Transfer,
Strobe Control, Handshaking, Asynchronous Serial Transfer, Asynchronous Communication Interface,
Modes of Transfer: Programmed I/O, Interrupt Driven I/O, Direct Memory Access (DMA), DMA
Controller, I/O Channel & Processor. <br>
Interrupt:  <br>
Class of interrupt, Priority Interrupt: Daisy Chaining Priority, Parallel Priority Interrupt. Program
Interrupt, Types of Interrupt, RISC & CISC Characteristic. <br>
Parallel Processing:  <br>
Flynn's Classification, Introduction to Pipelining and hazards, Speedup, Efficiency, Throughput. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>OB</ion-card-title>
          <ion-card-subtitle>ORGANISATIONAL BEHAVIOUR</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module-1 <br>
OB: Learning objectives, Definition & Meaning, Why to study OB, An OB model, New challenges for
OB Manager <br>
LEARNING: Nature of learning, How learning occurs, Learning & OB
Case Study Analysis <br>
Module-2 <br>
PERSONALITY: Meaning & Definition, Determinants of Personality, Personality Traits, Personality &
OB <br>
PERCEPTION: Meaning & Definition, Perceptual process, Importance of Perception in OB <br>
MOTIVATION: Nature & Importance, Herzberg’s Two Factor theory, Maslow’s Need Hierarchy
theory, Alderfer’s ERG theory <br>
Case Study Analysis <br>
Module-3 <br>
COMMUNICATION: Importance, Types, Barriers to communication, Communication as a tool for
improving Interpersonal Effectiveness <br>
GROUPS IN ORGANISATION: Nature, Types, Why do people join groups, Group Cohesiveness &
Group Decision Making- managerial Implications, Effective Team Building <br>
LEADERSHIP: Leadership & management, Theories of leadership- Trait theory, Behavioural Theory,
Contingency Theory, Leadership & Followership, How to be an Effective Leader <br>
CONFLICT: Nature of Conflict & Conflict Resolution <br>
TRANSACTIONALANALYSIS: An Introduction to Transactional Analysis
Case Study Analysis <br>
Module-4 <br>
ORGANISATIONAL CULTURE: Meaning & Definition, Culture &Organisational Effectiveness <br>
HUMAN RESOURCE MANAGEMENT: Introduction to HRM, Selection,Orientation,Training&
Development, Performance Appraisal, Incentives <br>
ORGANISATIONAL CHANGE: Importance of Change, Planned Change & OB Techniques <br>
INTERNATIONAL OB: An Introduction to Individual & Interpersonal Behaviour in Global
Perspectives <br>
Case Study Analysis <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
