<ion-header>
  <ion-toolbar>
    <ion-title>
      Mo CSE - Syllabus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="head">
    <ion-card>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt-HeUlfAQMsD8B48fzBPecW0jwruxaB8i9AZw9sgxJavYFddq&s"
        alt="">
    </ion-card>
  </div>


  <ion-slides mode="md" pager="md">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>OS</ion-card-title>
          <ion-card-subtitle>OPERATING SYSTEMS (CS15-026)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module – I <br>
          Introduction: What is and Operating Systems. <br>
          Simple Batch Systems, Multiprogramming and Time-Sharing systems. Personal Computer Systems,
          Parallel Systems, Distributed systems and Real time Systems. <br>
          Operating Systems structures: systems components, protection system, O.S. Services, system calls. <br>
          Process Management: Process concept, process scheduling, Operation on process, Cooperating
          Processes, Inter process communication. Threads CPU Scheduling: Basic concepts, scheduling
          algorithms. <br> <br>
          Module - II <br>
          Deadlocks: System model, Deadlock Characterization Methods for Handling Deadlocks, Deadlock
          Prevention, Deadlock avoidance, Deadlock Detection, recovery from Deadlock. <br>
          Memory management: Background, Logical versus Physical Address space, swapping, contiguous
          Allocation. Paging, Segmentation. <br>
          Virtual memory: Background, Demand paging, performance of Demand paging, Page Replacement,
          page Replacement Algorithms. Allocation of frames, Thrashing, Demand Segmentation. <br> <br>
          Module - III <br>
          File – system Interface : file concept, Access Methods Directory implementation, Recovery. <br> <br>
          Module - IV <br>
          I/O systems: Overview, I/O Hardware, Application of I/O interface, Kernel I/O – subsystem
          Transforming I/O requests to Hardware operations. Secondary storage Structure: Disk Structure. Disk
          scheduling, Disk management, Swap space management, Disk Reliability, Case Studies LINUX,
          WINDOW NT. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>SE</ion-card-title>
          <ion-card-subtitle>SOFTWARE ENGINEERING & OOAD (CS15-031)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module -I <br>
          INTRODUCTION – Evolution & Impacts, Motivation for Software Engineering, Programs vs
          Software products, Emergence of Software Engineering, Recent trends in software development
          practices. <br>
          SOFTWARE LIFE CYCLE MODELS – Reasons behind using Life Cycle models, Study of various
          Life Cycle Models – Classical Waterfall, Iterative Waterfall, Prototyping, Evolutionary, Spiral, etc.
          Comparison of various Life Cycle Models. <br> <br>
          Module-II <br>
          SOFTWARE PROJECT MANAGEMENT – Responsibilities, Planning, Project & Empirical Estimation
          Techniques, COCOMO, Software Science, Staffing, Scheduling, Team Structure, Risk Management,
          Configuration Management. <br>
          REQUIREMENT ANALYSIS & SPECIFICATION – Gathering Requirements & Analysis, SRS,
          Formal System Development Techniques, Axiomatic & Algebraic Specification. <br> <br>
          Module-III <br>
          SOFTWARE DESIGN & MODELLING – Cohesion & Coupling, Software Design Approaches, Object
          Oriented Design vs. Function Oriented Design, Function Oriented Software Design (SA/SD
          Methodology, Structured Analysis, DFDs, Structured & Detailed Design), Object Oriented Software
          Development (Design Patterns & Generalized Process), Object Modelling using UML (UML Concepts,
          UML Diagrams, USE Case Model; Class, Interaction, Activity & State Chart Diagrams)
          USER INTERFACE DESIGN – Basic concepts & its types, Component based GUI Development, User
          Interface Design Methodology <br><br>
          Module-IV <br>
          CODING & TESTING – Coding & Code Review, Testing – Unit, Black box & White box, Debugging,
          Program Analysis Tools, Integration &System Testing, General issues related to testing.
          SOFTWARE RELIABILITY & QUALITY MANAGEMENT – Software Reliability & Quality,
          Statistical Testing, Quality Management System, ISO 9000, SEI CMM, PSP. <br>
          CASE – Environment & scope, Support in SDLC, Characteristics & Future Scope of CASE Tools,
          Architecture of a CASE Environment. <br>
          SOFTWARE MAINTAINANCE – Characteristics, Reverse Engg., Maintenance Process Models,
          Estimation of Maintenance Cost. <br>
          SOFTWARE REUSE – Basic Issues, Refuse Approach, Reuse at Organizational Level. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>MPMC</ion-card-title>
          <ion-card-subtitle>MICROPROCESSORS AND MICROCONTROLLERS (CS15-021)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module I: <br> Architecture of Microprocessors <br>
          General definitions of mini computers, microprocessors, micro controllers and digital signal
          processors.Overview of 8085 microprocessor.Overview of 8086 microprocessor. Signals and pins of
          8086 microprocessor <br> <br>
          Module II: <br> Assembly language of 8086 <br>
          Description of Instructions.Assembly directives. Assembly software programs with algorithms,
          Interfacing with RAMs, ROMs along with the explanation of timing diagrams. Interfacing with
          peripheral ICs like 8255 etc.Interfacing with key boards, LEDs, LCDs, ADCs, and DACs etc. <br><br>
          Module III: <br> Architecture of Micro controllers <br>
          Overview of the architecture of 8051 microcontroller.Overview of the architecture of 8096 16 bit
          microcontroller.Description of Instructions.Assembly directives. Assembly software programs with
          Algorithms. <br><br>
          Module IV: <br> Interfacing with 8051 <br>
          Interfacing with keyboards, LEDs, 7 segment LEDs, LCDs, Interfacing with ADCs.Interfacing with
          DACs, etc. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>GT</ion-card-title>
          <ion-card-subtitle>GRAPH THEORY (CS15-019)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module-I ( 9 lectures) <br>
          Fundamental Concepts : Graphs, Paths, Cycles, Trails, Vertex Degrees, Counting, directed graphs. <br>
          Trees and Distance : Basic Properties, Spanning Trees and Enumeration, Optimization and Trees. <br>
          Ramsey’s Theorem Graph isomorphism,special graphs, decomposition,Connection. <br>
          Characterizing bipartite graphs Hamiltonian cycles: Dirac’s Theorem <br><br>
          Module-II( 9 lectures) <br>
          Eulerian circuits: characterization of Eulerian graphs Cut vertices, edges. <br>
          Trees: equivalent conditions for trees, and related results. <br>
          Vertex and edge connectivity : Whitney's inequality, cubic graphs, expansion. <br>
          2 and 3-connected graphs: Whitney’s theorem in Testing Center, Thomassen's 3-connectivity theorem
          Menger’s theorem with applications. <br><br>
          Module-III ( 9 lectures) <br>
          Introduction to matchings : Berge’s theorem. <br>
          Bipartite matching: Hall’s Theorem, Konig-Egervary theorem. <br>
          General matchings: Tutte’s theorem, Berge-Tutte formula, Petersen’s 1-factor theorem, Petersen’s 2-
          factor theorem <br><br>
          Module-IV ( 9 lectures) <br>
          Vertex-coloring, chromatic number, constructions of Mycielski and Zykov,Brooks’ theorem. <br>
          Turan’s Theorem. Edge-coloring, chromatic index of bipartite graphs, Vizing’s Theorem. <br>
          List coloring, Kernel lemma and Galvin’s Theorem. <br>
          Plnarity : Planar and plane graphs, Euler’s Formula, Kuratowski graphs, Kuratowski’s Theorem <br>
          List coloring of planar graphs: Thomassen’s Theorem, planar duals <br>
          Lower bound for Ramsey's Theorem. <br><br>
          Module-V ( 4 Lectures) <br>
          Advanced Topics: Connectivity; spanning trees; Cut vertices & edges; covering; matching; independent
          sets; Colouring; Planarity; Isomorphism. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>CNS</ion-card-title>
          <ion-card-subtitle>CRYPTOGRAPHY AND NETWORK SECURITY(IT15-002)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Module I ( 12 LECTURES) <br>
          Introduction to the Concepts of Security: The need for security, Security Approaches, Principles of
          Security, Types of Attacks. Cryptographic Techniques: Plain Text and Cipher Text, Substitution
          Techniques, Transposition Techniques, Encryption and Decryption, Symmetric and Asymmetric Key
          Cryptography, Steganography, Key Range and Key Size, Possible Types of Attacks. <br><br>
          Module II ( 8 LECTURES) <br>
          Computer-based Symmetric Key Cryptographic Algorithms: Algorithm Types and Modes,
          An overview of Symmetric Key Cryptography, DES, International Data Encryption Algorithm (IDEA),
          RC5, Blowfish, AES, Differential and Linear Cryptanalysis. <br><br>
          Module III ( 8 LECTURES) <br>
          Computer-based Asymmetric Key Cryptography: Brief History of Asymmetric Key Cryptography, An
          overview of Asymmetric Key Cryptography, The RSA Algorithm, Symmetric and Asymmetric Key
          Cryptography Together, Digital Signatures, Knapsack Algorithm, Some other Algorithms. <br><br>
          Module IV ( 12 LECTURES) <br>
          Public Key Infrastructure: Digital Certificates, Private Key Management, The PKIX Model, Public Key
          Cryptography Standards, XML, PKI and Security. Internet Security Protocols: Basic Concepts, Secure
          Socket Layer, SHTTP, Time Stamping Protocol, Secure Electronic Transaction, SSL versus SET, 3-D
          Secure Protocol, Electronic Money, E-mail Security, Wireless Application Protocol (WAP) Security,
          Security in GSM. <br>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>